<div
  class="max-w-[1280px] grid place-items-center min-w-80 min-h-full mx-auto text-center p-8"
>
  <div>
    Select One:
    <span
      [class]="{ active: currentSection() == 1 }"
      (click)="currentSection.set(1)"
      >Models</span
    >
    <span
      [class]="{ active: currentSection() == 2 }"
      (click)="currentSection.set(2)"
      >Payments</span
    >
  </div>
  <div class="section">
    @if (currentSection() == 1) {
      @for (model of models(); track model.modelId) {
        <div
          class="m-4 min-w-80 max-w-96 w-fit inline-block bg-white bg-opacity-50 p-8 rounded-2xl shadow-md text-black"
        >
          <p class="bg-white w-full p-4 my-2 text-left rounded-2xl">
            Name: {{ model.name }}
          </p>
          <p class="bg-white w-full p-4 my-2 text-left rounded-2xl">
            Description: {{ model.description }}
          </p>
          <p class="bg-white w-full p-4 my-2 text-left rounded-2xl">
            Cost: {{ model.cost }}₹
          </p>
          <p class="bg-white w-full p-4 my-2 text-left rounded-2xl">
            Usage: {{ model._count.usage }}+
          </p>
          <p class="bg-white w-full p-4 my-2 text-left rounded-2xl">
            Est. Earning: {{ model._count.usage * model.cost }}₹
          </p>
        </div>
      }
    }
    @if (currentSection() == 2) {
      @for (payment of payments(); track payment.paymentId) {
        <div
          class="m-4 min-w-80 max-w-96 w-fit inline-block bg-white bg-opacity-50 p-8 rounded-2xl shadow-md text-black"
        >
          <p class="bg-white w-full p-4 my-2 text-left rounded-2xl">
            Name: {{ payment.modelId }}
          </p>
          <p class="bg-white w-full p-4 my-2 text-left rounded-2xl">
            Amount: {{ payment.amount }}₹
          </p>
          <p class="bg-white w-full p-4 my-2 text-left rounded-2xl">
            Start: {{ payment.startDate }}
          </p>
          <p class="bg-white w-full p-4 my-2 text-left rounded-2xl">
            End: {{ payment.endDate }}
          </p>
        </div>
      }
    }
  </div>
</div>
